# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\univer\node-opencv\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
